.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list{
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 2px solid black;
}
/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #141111;
  text-align: left;
  padding: 8px;
  background-color: rgb(244, 212, 212);
}

tr:nth-child(even) {
  background-color: #dddddd;
} */


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,table td {
  border: 2px solid #e7a3a3;
  padding: 8px;
}

table th {
  background-color: #e69292;
  border: 1px solid #7e4646;
}

table tr:nth-child(even) {
  background-color: #ebd7d7;
}

table tr:hover {
  background-color: #ddd;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
button {
  margin-right: 10px;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  background-color: #308cee;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
